/* css styles */

/* banner */
.quarto-title-banner {
  padding: 3em 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url('nenas1.jpeg');
  background-position: center;
  background-size: cover;
}